.head_list td {border: none !important; }
.angka_det{text-align: right !important;}
.ibb-reject-vlegal {
    background: url('../img/draft.png') center center no-repeat transparent;
    background-size: cover;
    float: right !important;
    width: 40px;
    height: 40px;
}
.ibb-accept-vlegal {
    background: url('../img/active.png') center center no-repeat transparent;
    background-size: cover;
    float: right !important;
    width: 40px;
    height: 40px;
}

.ibb-download-vlegal {
    background: url('../img/printer.png') center center no-repeat transparent;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.ibb-resend-vlegal {
    background: url('../img/client_32.png') center center no-repeat transparent;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.ibb-cancel-vlegal {
    background: url('../img/cancel_doc.png') center center no-repeat transparent;
    background-size: cover;
    width: 30px;
    height: 30px;
}